<footer class="text-center text-lg-start text-muted" style="background-color: #FEF9C7;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
    <!-- Left -->
    <div class="me-3 d-none d-lg-block">
      <span>Information de Contact par e-mail</span>
    </div>
    <!-- Right -->
    <div>
      <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJqbQjLWwPHxGqHmsFGZhpcmCmTFChdzNTbLPRlmCKlCHglDFMwspsPfJMLhVVGWDkWKhHL" class="me-4 text-reset">
          <i class="bi bi-envelope-at-fill" style="color: #026670;" id="mailIcon"></i>
        <div id="onhoverIcon">Envoyer un mail</div>
      </a>
    </div>
  </section>
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-4"></i>Application Nationales
          </h6>
          <a class="nav-link" routerLink="/"><img src="/assets/logoCNI.png" class="rounded-circle"/></a>

            <p>
            Développement des tests de principales applications nationales, sectorielles et à uasage commun au profit
            de plusieurs ministères et entreprise publiques.
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        </div>
        <!-- Grid column
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
              Liens Utiles
          </h6>
          <p>
            <a routerLink="/About" >A propos</a>
          </p>
          <p>
            <a routerLink="/Entraineurs" >Entraineurs</a>
          </p>
          <p>
            <a routerLink="/Blog"  >Blog   </a>
          </p>
        </div>
      -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="bi bi-geo-alt-fill" style="color: #9FEDD7;"></i>
              17, rue Belhassen Ben Chaabane, 1005 El Omrane, Tunis, Tunisie.
          </p>
          <p> <a href="http://www.cni.tn/index.php/fr/?view=page&id=44"><i class="bi bi-envelope-fill" style="color: #9FEDD7;"> </i>
              webcni@cni.tn </a>
          </p>
          <p><i class="bi bi-phone-fill" style="color: #9FEDD7;"></i>Tel:  +216 71 783 055 </p>
          <p><i class="bi bi-telephone-fill" style="color: #9FEDD7;"></i> Fax: +216 71 781 862 </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" >
    © 2023
  </div>
</footer>
