<app-header></app-header>
<section class="text-center text-lg-start">
  <div class="container py-6">
      <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card cascading-right" style="background: rgb(192, 192, 236);backdrop-filter: blur(40px);">
                  <div class="card-body p-5 shadow-5 text-center">
                      <h3 class="fw-bold mb-5">A Propos Du CNI</h3>
                      <p>
                          Le Centre National de l'Informatique est un établissement public à caractère non
                          administratif doté de la personnalité civile et de l'autonomie financière.
                          <strong>Le CNI</strong>  est un orsous la tutelle du Ministre des technologies de la
                          communication et opérant dans les domaine du secteur de l'informatique et des
                          technologies de la communication et certifié ISO 9001 version 2015.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="/assets/propos.jpg"
              class="w-100 rounded-4 shadow-4"alt="" />
          </div>
      </div>
  </div>
</section>
<app-footer
></app-footer>
