<div id="mySidenav" class="sidenav" [ngClass]="clicked ?'sidenav':'open'">
  <a routerLink="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
  <a routerLink="Categories"><i class="fa fa-user" aria-hidden="true" style="padding-right:10px ;"></i>Les partenaires</a>
  <a routerLink="Users"><i class="fa fa-user" aria-hidden="true" style="padding-right:10px ;"></i>Les clients</a>
  <a routerLink="Questions"><i class="fa fa-bell" aria-hidden="true" style="padding-right:10px ;"></i>Demande partenariat</a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-primary " style="height: 50px;color: #154b88">
  <div class="container-fluid">


  </div>
</nav>
