




<div id="mySidenav" class="sidenav" [ngClass]="clicked ?'sidenav':'open'">
  <a routerLink="da"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
  <a (click)="afficher()" ><i class="fa fa-table" aria-hidden="true" style="padding-right:10px ;"></i>Exams<i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-left: 50%"></i>
  </a>
  <a *ngIf="!hidden" routerLink="inform"  style="margin-left: 10%"><i class="fa fa-dot-circle-o" aria-hidden="true" style="padding-right:10px ;"></i>Informations</a>
  <a *ngIf="!hidden" style="margin-left: 10%" routerLink="start" ><i class="fa fa-dot-circle-o" aria-hidden="true" style="padding-right:10px ;"></i>Start</a>

  <a routerLink="usermsg" (click)="update()"><i class="fa fa-comment" aria-hidden="true" style="padding-right:10px ;"></i>Message  <span class="badge rounded-pill badge-notification bg-danger" *ngIf="nbrmsg>0" >{{nbrmsg}}</span></a>

  <a  (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:10px ;"></i>logout</a>
</div>




<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div class="main" [ngClass]="clicked ?'main':'openmain'">
  <!-- Use any element to open the sidenav -->
  <span (click)="openNav()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg></span>
  <router-outlet></router-outlet>
</div>
