<div class="sidenav">
  <div class="login-main-text">
    <h1 > <b>PLMCertification</b><br> Login Page</h1>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="User Name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Password">
        </div>
        <button type="button" class="btn btn-black" [disabled]="!loginForm.valid"  (click)="loginAdmin()">Login</button>
        <button type="submit" class="btn btn-secondary" (click)="go()">Register</button>
      </form>
    </div>
  </div>
</div>
