

<div class="container" style="margin-left: 25%;width: 250%">
  <div class="row">
    <div class="col-lg-4 layout-spacing">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h4 class="pb-0" style="color: #5fbae9;">User Liste</h4>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div id="content_2" class="tabcontent">
                <div class="story-container-2">
                  <div class="single-story">

                    <input type="text" class="form-control" name="Search" [(ngModel)] = "Search" placeholder="Search...">


                  </div>
                  <app-list-user *ngFor="let item of user|user:Search"
                                      [user]="item"
                  >

                  </app-list-user>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

