<br>
<div >
  <input type="text" name="Search" [(ngModel)]="Search" class="input-group-text"   style="width: 280px ;margin-left: 73%" placeholder="Search">
</div>
<hr>
<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" >Name</th>
    <th scope="col" >Email</th>
    <th scope="col" >Postal Code</th>
    <th scope="col" >Password</th>
    <th scope="col" >Score</th>
    <th scope="col" >Activation Code</th>
    <th scope="col" >Registration Date</th>
    <th scope="col" >Exam Date</th>

  </tr>
  </thead>

  <tbody
  >
  <ng-container  *ngFor="let item of users|user:Search;index as i"; >

  <tr *ngIf="item.passedExam==true" >
    <th scope="row" >{{i+1}}</th>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.postalcode}}</td>
    <td>{{item.password}}</td>
    <td>{{item.score}}</td>
    <td>{{item.Activationcode}}</td>
    <td>{{item.RegistrationDate}}</td>
    <td>{{item.examDate}}</td>
    <td></td>
  </tr>
  </ng-container>
  </tbody>
</table>
<!--style="border-spacing :200px" -->
