<br>
<h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  Exam</h1>
<hr>
<h2>informations about the exam</h2>
<p><b>1.</b>All questions are on metric units(mm)</p>
<p><b>2.</b>All questions are derived from volume,minimal distance,weight or center of masse calculations </p>
<p><b>3.</b>choose the correct answer from the option provided on each question</p>
<p><b>4.</b>choose the correct answer from options provided in each question</p>
<p><b>5.</b>A passing score is 75 piont</p>
<p><b>6.</b>you will have 3 hours to complete the test once you acces it</p>
<p><b>7.</b>before you begin,ensure you will have 3 hours without interuption</p>
<p><b>8.</b>if time expires while you are still passing the test, your answer will be saved and the test will be submited automticaly</p>
