
<br>
<div >
  <input type="text" name="Search" [(ngModel)]="Search" class="input-group-text"   style="width: 280px ;margin-left: 73%" placeholder="Search">
</div>
<hr>
<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" >Name</th>
    <th scope="col" >email</th>
    <th scope="col" >Level</th>
    <th scope="col" >examDate</th>
    <th scope="col" >score</th>



  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let item of user|result:Search;index as i" >
    <th scope="row" >{{i+1}}</th>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.level}}</td>
    <td>{{item.examDate}}</td>
    <td>{{item.score}}</td>

  </tr>

  </tbody>
</table>
