





<!-- Header Starts -->
<section id="Banner" class="content-section">
  <div class="container content-wrap text-center">
    <h1>PLMCertification</h1>

    <a class="btn btn-primary btn-xl smooth-scroll" (click)="go()">LOGIN</a>
  </div>
  <div class="overlay"></div>
</section>
<!-- Header Ends -->
<!-- About Us Starts -->
<section id="About" class="content-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>About Us</h2>
        </div>
        <p class="lead">Students learn troubleshooting strategies and can easily transfer their knowledge and expertise to another system. Students with a Mechatronic certification are employees who are flexible, autonomous, and professional in their dealings.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About Us Starts -->
<section id="Services" class="content-section text-center">
  <div class="container">
    <div class="block-heading">
      <h2>Get the most out of PLMCertification</h2>

    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon yellow">
            <div class="front-content">

              <h3>Benefits for partner schools</h3>

            </div>
          </div>
          <div class="service-content">
            <h3>Benefits for partner schools</h3>
            <p> This expertise is combined with new teaching methods based on the German dual system. You can benefit from worldwide standards for the training and the certification set by Siemens, our holistic approach of teaching mechatronics
              to meet skills requirements from industry, and future-proof content such as the digital enterprise.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon orange">
            <div class="front-content">

              <h3>Benefits for students</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Benefits for students</h3>
            <p>the employability of students and speeds up their transition into the job based on extensive troubleshooting training on real systems. our application meets industry skill requirements, is a recognized, international industrial
              certification, and let’s students obtain an industry certification, in addition to a certificate or a degree. It’s integrated in the current studies and comes at low costs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box ">
          <div class="service-icon red">
            <div class="front-content">

              <h3>Benefits for employers</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Benefits for employers</h3>
            <p>With SMSCP, students are ready for the job, reducing on-the-job training and preparing them for the tasks that industry seeks today and in the future. Our vendor-neutral broad-based training with worldwide standards, the certification
              set by Siemens, and the holistic approach of teaching mechatronics increase efficiency and productivity among machine operators, technicians, and engineers.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- TESTIMONIALS -->

<!-- END OF TESTIMONIALS -->
<section id="Contact" class="content-section">
  <div class="container">
    <div class="block-heading">
      <h2>Contact Us</h2>

    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="contact-wrapper">
          <div class="address-block border-bottom">
            <h3 class="add-title">PLMCerification</h3>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info">&nbsp;126, Rue Ibn Khldoun Bizerte, Tunisie</span>
            </div>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="c-info">(+216)72422504</span>
            </div>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="c-info">info@allplm.com</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<footer class="footer text-center">

</footer>
