<app-header></app-header>

<div class="container-fluid">
  <div class="row no-gutter">
      <div class="col-md-4 d-none d-md-flex bg-image">
      </div>
      <!--Annimation image-->
      <img src="/assets/accueil.jpg"  data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" data-mdb-animation-start="onHover">
      <!--je vais faire une annimation pour ce titre-->
      <h2 style="text-align: center;">Nos Service</h2>
      <!--Annimation pour les H3-->
          <h3>
          <i class="bi bi-gear" style="color: #026670;"></i>Assistance  </h3>
          <p>
          Le CNI assiste ses clients dans la réalisation des projets selon les termes contractuels.</p>
          <h3>
          <i class="bi bi-code-slash" style="color: #026670;"></i>Développement dse Applications </h3>
          <p>Développement des Grandes Applications EGOV </p>
          <h3>
          <i class="bi bi-database-fill" style="color: #026670;"></i>Hébergement </h3>
          <p>
          Le CNI est doté d'un Data Center réservé pour l'hébergement des grandes Applications de l'Etat </p>
          <h3>
          <i class="bi bi-activity" style="color: #026670;"></i>Continuité d'activité </h3>
          <p>
          Sauvegarde et sécurité des grandes Applications informatique de l'Etat </p>
          <h3>
          <i class="bi bi-mortarboard-fill" style="color: #026670;"></i>Formation </h3>
          <p>
          Le CNI propose chaque année un programme de séminaire de haut niveau. </p>
          <h3>
          <i class="bi bi-router-fill" style="color: #026670;"></i>Administration des réseaux </h3>
          <p>
          Administration et Supervision des réseaux et des solutions de sécurité.
      </p>
  </div>
</div>

<app-footer></app-footer>
