<br>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center" (click)="gotocat()">
            <div>
              <p class="mb-0 text-secondary">Categorie</p>
              <h4 class="my-1 text-info">{{nbrCat}}</h4>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-pencil-square-o"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center" (click)="gotoques()">
            <div>
              <p class="mb-0 text-secondary">Questions</p>
              <h4 class="my-1 text-info">{{nbrQ}}</h4>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-question-circle"></i>
            </div>
          </div>
        </div>
      </div>

</div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center" (click)=" gotouser()">
            <div>
              <p class="mb-0 text-secondary">users</p>
              <h4 class="my-1 text-info">{{nbrU-1}}</h4>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-user"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-info">
        <div class="card-body">
          <div class="d-flex align-items-center" (click)="gotoWho()">
            <div>
              <p class="mb-0 text-secondary">users passed exam</p>
              <h4 class="my-1 text-info">{{nbrUwho}}</h4>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-user"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
